html, body{
    margin: 0;
    padding: 0;
}

header{
    position: static;
    top: 0;
}

h1{
    text-align: center;
    height: 20px;
    line-height: 20px;
}

hr{
    border-top: solid black 1px;
    margin: 0;
    padding: 0;
}

nav > ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
}


nav > ul > li{
    flex: 1;
    text-align: center;
    border: 1px solid black;
    border-right: 0;
    padding: 15px 0 15px 0; 
}

nav > ul > li:first-child{
    border-left: none;
    border-bottom: 5px solid #1DA1F3;
}


main{

}

div.main-content{
    display: flex;
    flex-flow: row;
    margin-left: auto;
    margin-right: auto;
}

main{
    margin: 20px 0 20px 20px;
    padding: 5px;
    flex: 3 1 70%;
    border: 1px solid black;    
}

aside{
    border: 1px solid black;
    margin: 20px;
    padding: 5px;
    flex: 1 1 30%;
}

aside.left-aside{
    display: none;
}

main > div {
    margin: 20px auto 0 auto;
    max-width: 1000px;
    display: flex;
    
}

main >div > div{
    border: 1px solid black;
    
}

@media(min-width: 1200px){
    div.main-content > aside.left-aside{
        display: inherit;
    }

    div.main-content > main{
        margin-left: 0;
    }
}

@media(max-width: 512px){
    header > nav{
        font-size: 0.7em;
    }

    h1{
        font-size: 1em;
    }

    div.main-content{
        flex-flow: column;
    }
}